body {
    font-family: Arial, sans-serif;
    background-color: #002366; /* Dark blue background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center; /* Center align content */
}

.login-logo {
    width: 200px; /* Adjust the width as needed */
    margin-bottom: 40px; /* Add some space below the image */
}

.login-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left; /* Align form elements to the left */
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.options {
    margin-top: 15px;
}

.options a {
    color: #007bff;
    text-decoration: none;
    margin: 0 5px;
}

.options a:hover {
    text-decoration: underline;
}
.side-by-side {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.side-by-side label {
    margin-right: 20px; 
}
