body {
    font-family: Arial, sans-serif;
}
.container {
    width: 70%;
    margin: 0 auto;
}
.section {
    display: none;
}
.section.active {
    display: block;
}
.steps {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.step {
    width: 30px;
    height: 30px;
    background-color: #ccc;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
}
.step.active {
    background-color: #4CAF50;
    color: white;
}
.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.next-button, .previous-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.previous-button {
    background-color: #4CAF50;
    color: white;
}
.next-button {
    background-color: #4CAF50;
    color: white;
    margin-left: auto; /* Ensures the "Next" button is on the right side */
}
.next-button:hover, .previous-button:hover {
    background-color: #45a049;
}
